---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import { SELF, SOCIALS } from "../consts";
import Link from "../components/Link.astro";
---

<Layout description="Diogo's chaotic corner of the web.">
  <Container>
    <aside>
      <div class="flex items-center gap-x-4">
        <img
          src="https://codeberg.org/diogocastro.png"
          alt={`${SELF.name}'s profile picture on Codeberg`}
          class="h-20 w-20 rounded-full"
        />
        <h1
          class="font-pecita text-3xl font-semibold text-black dark:text-white"
        >
          Diogo Castro
        </h1>
      </div>
      <div class="space-y-12">
        <section>
          <article class="space-y-4">
            <span>
              <p>
                Computer science undergraduate at the <Link
                  href="https://estsetubal.ips.pt/"
                  >Polytechnic Institute of Setúbal</Link
                >. When I'm not having classes, I'm usually messing with
                computers, networking, learning new things, shitposting or
                lurking online.
              </p>
              <p>
                I started writing code at the age of 9, and have been passionate
                about tech ever since. I also enjoy gaming casually.
              </p>
            </span>
          </article>
        </section>

        <section class="animate space-y-4">
          <h2 class="font-semibold text-black dark:text-white">
            You can find me on:
          </h2>
          <ul class="not-prose flex flex-wrap gap-2">
            {
              SOCIALS.map((SOCIAL) => (
                <li class="flex gap-x-2 text-nowrap">
                  <Link
                    href={SOCIAL.href}
                    external
                    aria-label={`${SELF.name} on ${SOCIAL.name}`}
                  >
                    {SOCIAL.name}
                  </Link>
                  {"/"}
                </li>
              ))
            }
            <li class="line-clamp-1">
              <Link
                href={`mailto:${SELF.email}`}
                aria-label={`Email ${SELF.name}`}
              >
                Email
              </Link>
            </li>
          </ul>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
